.content {
  display: flex;
  top:40%;
}

.newrow {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 700;
}

.imgchange {
  left: 20%;
  margin-top: 5%;
}

.imgchange button {
  margin-top: 10px;
}

.imgchange img {
  height: 170px;
}
